<?xml version="1.0" encoding="UTF-8"?>
<!--
==================================================
         Alarife 4    Version: 
==================================================

 (c) 2011-2018 by Maikel Enrique Pernia Matos.
 
 This file may be used under the terms of the GNU
 General Public License version 2 as published by
 the Free Software Foundation.
 
==================================================
-->
<aspell>
    <dic name="Español" code="es" />
    <dic name="Inglés" code="en" />
</aspell>
